*{
    margin: 0%;
    box-sizing: border-box;
}
body{
    font-family: 'Outfit', sans-serif;
    background: #D5E1EF;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}